.userListMain li{
    color: #333;
    background-color: #f0f8ff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
}
ul{
    padding: 0;
}
.editIcon{
    float: right;
    color: Red;
    font-size: 17px;
    display: inline-block;
    cursor: pointer;
}

.deleteIcon{
    float: right;
    color: Red;
    font-size: 17px;
    padding-right: 15px;
    cursor: pointer;
}